!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title= @site.config[:meta_data][:title] + (@item[:title] ? " — #{@item[:title]}" : "")

    -# Stylesheets
    %link{:rel => "stylesheet", :href => "/css/screen.css", :type => "text/css", :media => "screen"}
    - if @item[:stylesheets]
      - @item[:stylesheets].each do |stylesheet|
        %link{:rel => "stylesheet", :href => stylesheet, :type => "text/css", :media => "screen"}

    -# Javascripts
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/js/site.js", :type => "text/javascript"}
    - if @item[:scripts]
      - @item[:scripts].each do |script|
        %script{:src => script, :type => "text/javascript"}
  %body{:class => @item[:page_id]}
    #container
      #header
        %span#site_name= @site.config[:meta_data][:title]
        %span#tag_line= @site.config[:meta_data][:tag_line]

      %ul#nav
        %li= link_to "Home", "/"
        %li= link_to "Foo", "#"
        %li= link_to "Bar", "#"
        %li= link_to "Baz", "#"

      %h1= @item[:title]

      #main
        ~ yield

      #footer
        %p= "&copy; " + @site.config[:meta_data][:copyright]

